<html>
    <head>
       <title>Dojo Survey</title>
    </head>
    <body>
      <h1>Dojo Survey</h1>
      <form action='/results' method='post'>
          Your Name: <input type='text' name='Name'>
          Dojo Location: <input type='text' name='Location'>
          Favorite Language: <select name='Language'>
                                <option value="javascript">JavaScript</option>
                                <option value="python">Python</option>
                                <option value="c++">C++</option>
                            </select>
          Comment (optional): <input type='text' name="Comment">
          <input type='submit' value="Submit">
      </form>
    </body>
</html>
